<div class="banner">
  <h1 class="w-100 h-100 d-flex">
  <span data-controller="typed-js"></span>
  </h1>
</div>
<div class="container p-3">
  <h2 class="m-3">Find your favorite list here:</h2>
  <ul class="list-group list-group-flush">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <li class="list-group-item p-3 m-1 d-flex justify-content-between list-links"><%= list.name %>
        </li>
      <% end %>
        <%# <%= link_to "check this list", list_path(list), class: "list-links"%>

    <% end %>
      <%= link_to "make your own list", new_list_path, class: "p-1 m-3 text-center btn-custom"%>
  </ul>
</div>
