// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
$green : #C2B97F;
$brown : #BCAA99;
$taupe: #88665D;
$cream: #F2F7F2;
$plum: #8E5572;
